* {
  box-sizing: border-box;
}

div {
  margin: 0px
}

.home {
  width: 800px;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 30px;
  padding: 20px;
}

td {
  border-bottom: solid black 2px;
}


.tlacitkoVymaz {
  float: right;
  z-index: 10;
}

p {
  text-align: left;
}

a {
  display: inline;
  margin: 5px;
  margin-bottom: 0px;
  margin-top:  0px;
  
}

h2 {
  text-align: center;
  padding-bottom: 15px;
}

h5 {
  text-align: center;
  padding-top: 20px;
  
}

table {
  text-align: center;
  width: 991.8px;
  margin: auto;
  border-collapse: collapse;
  border-right: solid black 1px;
  border-left: solid black 1px;
}


th {
  text-align: center;
 
}

.modalTh {
  text-align: right;
  width: 45%;
}

.modalTable {
  width: 100%;
}

nav {
  padding: 10px;
  text-align: center;
  background-color: rgb(0, 0, 0);
  position: sticky;
  top: 0;
  z-index: 100;
  }

.formular {
  width: 330px;
  text-align: right;
  margin: auto;
}

.vstupnyFormular {
  width: 380px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.vstupnyFormular td {
  text-align: left;
  padding-left: 20px;
}

.vstupnyFormular input,select {
  width: 120px;
  
}

footer {
  text-align: center ;
  padding: 5px;
  background-color: rgb(0, 0, 0);
  color: white;
  position: sticky;
  bottom: 0;
  z-index: 90;
}

button {
  margin: auto;
}

.hodnotenie {
  display: inline-block;
  float: none;
  margin: auto;
  height: max-content;
}

.priemerneHodnotenie {
  margin: auto;
  margin-top: 10px;
  text-align: center;
  width:max-content;
}

.recenzia {
  height: fit-content;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 30px;
  
  background-image: linear-gradient(to right, rgb(2, 31, 2), rgb(21, 129, 23));
  color: white;
  
}

.logo {
  width: 200px;
}

#mapa2 {
  display:none;
}

.baner {
  background-image: url("../public/images/sea.png");
  height: 200px;
  background-position: 0px 450px;
  background-size: auto;
  color: rgb(4, 39, 73);
  padding: 30px;
  text-align: center;
  width:inherit;
}


.auto {
  font-size: 70px;
  color: green;
}

.garaz {
  font-size: 80px;
}

.sipka {
  font-size: 30px;
}

img {
  max-height: 100%;
  width: auto;
}


#pridajRecenziu {
  width: 450px;
  margin: auto; 
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: center; 
  padding: 20px;
  border: solid black 1px;
  border-radius: 30px;
  background-image: linear-gradient(rgb(21, 9, 82),rgb(21, 9, 82), rgb(193, 244, 255));
  color: white;
}

#pridajRecenziu input {
  margin: 10px;
}

.okraj {
  text-align: center;
  background-color: rgb(248, 223, 123);
}

@media only screen and (max-width: 991.8px) {
  table {
    width: 100%;
    border: 0px;
  }
}

@media only screen and (max-width: 800px) {
  .home {
    width: 100%;
  }

  .baner {
    background-position: -300px 450px;
  }

}

@media only screen and (max-width: 600px){
.schovaj {
  display: none;
}}

@media only screen and (max-width: 460px) {
 
  #pridajRecenziu {
    width: 100%;
  }

  .vstupnyFormular {
    width: 100%;
  }

  .recenzia {
    width: 100%;
  }

  .baner {
    background-position: -380px 450px;
  }

  .logo {
    position: relative;
    top: 50px;
  }

  .auto {
    font-size: 45px;
    color: green;
  }
  
  .garaz {
    font-size: 52px;
  }

  
  .sipka {
    font-size: 15px;
  }

  img {
    max-width: 100%;
    height: auto;
  }
  
  .navLink {
    margin-top: 4px;
  }

  .home {
    font-size: 14px;
  }

  #homeTabulka {
    width: 100%;
  }

  #mapa {
    display: none;
  }

  #mapa2 {
    display:block;
  }
}
